@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');
body{
    overflow-X: hidden;
}

@media (max-width:500px) {
    
    #logoAPF{
        position: relative;
        height: 150px;
        width: 150px;
        left: 170px;
    }
    #TitreLogo{
        position: relative;
        color: #966200;
        padding-top: 110px;
        margin-left: -10px;
        font-size: 5vmin;
    }
    .PageLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #accueilLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #StatistiquesLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #NembresLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #SeconnecterLink{
        position: relative;
        text-decoration: underline #966200 solid;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    
    }
    #seConnecterTitre{
        position: absolute;
        font-weight: 100;
        margin-left: -470px;
        margin-top: -20px;
    }
    #txtMail{
        position: relative;
        margin-top: -0px;
        margin-left: -450px;
    }
    #txtNA{
        position: relative;
        top: 0px;
        margin-left: -410px;
    }
    #formMail{
        position: relative;
        margin-top: 0px;
        width: 160px;
        margin-left: 20px;
        
    }
    #txtMDP{
        position: relative;
        top: -20px;
        width: 160px;
        margin-left: -455px;
    }
    #formMDP{
        position: relative;
        top: -70px;
        width: 160px;
        margin-left: 25px;
    }
    #SinscrireLink{
        position: relative;
        top: 0px;
        padding-bottom: 30px;
        text-decoration: none;
        color: black;
        margin-left: -455px;
    }
    #SoumettreButton{
        position: relative;
        top: 100px;
        margin-left: -430px;
    }
}
#logoAPF{
    position: relative;
    height: 150px;
    width: 150px;

    
}

#TitreLogo {
    position: relative;
    left: 150px;
    top: -150px;
    font-size: 30px;
    font-weight: 100;
    
}
.text{
    font-family: 'Cagliostro',sans-serif;
}
.color{
    color: #966200;
}
.PageLink{
    position:relative;
    text-decoration: none;
    top: -230px;
    left: 800px;
    font-size: 20px;
    color: black;
    margin-left: 20px;
    }
    #SeconnecterLink{
        text-decoration: underline #966200 solid;
    }
    #seConnecterTitre{
        position: relative;
        font-weight: 100;
        left: 600px;
        top: -100px;
    }
    #txtMail{
        position: relative;
        left: 500px;
        font-size: 15px;
    }
    #txtNA{
        position: relative;
        left: 540px;
       
    }
    #formMail{
        position: relative;
        top: 0px;
        width: 160px;
        left: 593px;
        
    
    }
    #txtMDP{
        position: relative;
        left: 500px;
        top: 0px;

    }
    #formMDP{
        position: relative;
        left: 538px;
        top: 0px;
        width: 160px;
       
    }
    #formContainer{
        position: relative;
        height: 50px;
        width: 50px;
    }
    #SinscrireLink{
        position: relative;
        text-decoration: none;
        left: 500px;
        padding-bottom: 100px;
        color: black;
    }
    #SoumettreButton{
        position: relative;
        top: 20px;
        left: 690px;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        background-color: #966200;
        color: white;
        box-shadow: 30px;
    }
  