<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Inscription.css">
    <script src="index.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Associantion Du poney Fringant</title>
</head>
<body>
<header>
    
   <img class="logo" id="logoAPF" src="image/mustang-295456_1280.png" alt="logo de l'association du poney Fringant">
        <h1 class="text color" id="TitreLogo">Association Le <br>
             poney Fringant</h1>
                 <a href="" class="text PageLink" id="accueilLink" title="lien Accueil">Accueil</a>
                 <a href="" class="text PageLink" id="StatistiquesLink" title="lien Statistiques">Statistiques</a>
                 <a href="" class="text PageLink" id="NembresLink" title="lien Nembres">Membres</a>
                 <a href="" class="text PageLink" id="SeconnecterLink" title="lien Se connecter">Se connecter</a>
</header>
<div id="app">
<form v-if="connected === false">

    <label for="pseudo" >pseudo</label>
    <input v-model="pseudo" type="text" name="pseudo">
    <br>

    <label for="prenom" >prénom</label>
    <input v-model="prenom" type="text" name="prenom">
    <br>

    <label for="mail" >email</label>
    <input v-model="mail" type="text/email" name="mail">
    <br>

    <label for="passeword">password</label>
    <input v-model="passeword" type="password" name="passeword">
    <br>

    <button v-on:click="submitRegister">Go</button>
</form>
<div v-else>
    Hello {{ mail }}
    <p>
        <button @click="disconnect">Se déconnecter</button>
        
    </p>
</div>
</div>
    <h2 class="text color" id="InscriptionTitre" title="Titre se connecter">Inscription</h2> 

    <p class="text" id="textCI">vos centre d'intérêt: (Choisissez aux minimum 3)</p><!--input type checkbox a mettre c'est mieux-->
    <div id="listeCI" class="text">
        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Musique">Musique</label>
        <input type="checkbox" name="Musique" id="checkMusique">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">

        <label for="Sport">Sport</label>
        <input type="checkbox" name="Sport" id="checkSport">


    <a href="index.html" class="text" id="SeconnecteLink" title="lien pour se connecter">Se connecter</a>
</body>
</html>