@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');
body{
    overflow-X: hidden;
}

@media (max-width:500px) {
    
    #logoAPF{
        position: relative;
        height: 150px;
        width: 150px;
        left: 170px;
    }
    #TitreLogo{
        position: relative;
        color: #966200;
        padding-top: 110px;
        margin-left: -10px;
        font-size: 5vmin;
    }
    .PageLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #accueilLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #StatistiquesLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #NembresLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #SeconnecterLink{
        position: relative;
        text-decoration: underline #966200 solid;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    
    }
    #InscriptionTitre{
        position: absolute;
        font-weight: 100;
        margin-left: -470px;
        margin-top: -20px;
    }
    #txtMail{
        position: relative;
        margin-top: -0px;
        margin-left: -440px;
    }
    #txtNA{
        position: relative;
        margin-left: -430px;
    }
    #formMail{
        position: relative;
        width: 160px;
        margin-left: -420px;
        
    }
    #txtMDP{
        position: relative;
        top: -20px;
        width: 160px;
        margin-left: -445px;
    }
    #formMDP{
        position: relative;
        top: -70px;
        width: 160px;
        margin-left: -420px;
    }
    #SinscrireLink{
        position: relative;
        top: 20px;
        padding-bottom: 30px;
        text-decoration: none;
        color: black;
        margin-left: -60px;
    }
    #formPseudo{
        position: relative;
        margin-left: -620px;
        top: -40px;
        width: 160px;
    }
    #txtPseudo{
        position: relative;
        margin-left: 440px;
    }
    #listeCI{
        position:relative;
        margin-left: -350px;
    }
    #formNT{
        position: relative;
        margin-left: -420px;
        top: -40px;
        width: 200px
    }
    #txtNT{
        position: relative;
        margin-left: -430px;
    }
    #textCI{
        position: relative;
        padding-right: -100px;
        margin-left: -430px;
        
    }
    #listeCI{
        position: relative;
        margin-left: -430px;
    }
    #SeconnecteLink{
        position: relative;
        margin-top: 20px;
        margin-left: -400px;
    }
    
}
#logoAPF{
    position: relative;
    height: 150px;
    width: 150px;

    
}

#TitreLogo {
    position: relative;
    left: 150px;
    top: -150px;
    font-size: 30px;
    font-weight: 100;
    
}
.text{
    font-family: 'Cagliostro',sans-serif;
}
.color{
    color: #966200;
}
.PageLink{
    position:relative;
    text-decoration: none;
    top: -230px;
    left: 800px;
    font-size: 20px;
    color: black;
    margin-left: 20px;
    }
    #SeconnecterLink{
        text-decoration: underline #966200 solid;
    }
    #InscriptionTitre{
        position: relative;
        font-weight: 100;
        left: 600px;
        top: -100px;
    }
    #txtMail{
        position: relative;
        left: 530px;
        font-size: 15px;
    }
    #txtNA{
        position: relative;
        left: 640px;
       
    }
    #formMail{
        position: relative;
        width: 160px;
        left: 595px;
        
    
    }
    #txtMDP{
        position: relative;
        left: 530px;


    }
    #formMDP{
        position: relative;
        left: 542px;
        width: 160px;
       
    }
    #SinscrireLink{
        position: relative;
        text-decoration: none;
        left: 500px;
    }
    #txtPseudo{
        position: relative;
        top: 0px;
        left: 530px;
    }
    #formPseudo{
        position: relative;
        left: 580px;
        top: 0px;
        width: 160px;
    }
    #listeCI{
        position: relative;
        width: 500px;
        left: 400px;
        font-family: 'Cagliostro',sans-serif;
    
    }
    #SeconnecteLink{
        position: relative;
        text-decoration: none;
        top: 80px;
        left: 0px;
        padding-bottom: 200px;
    }
    .listeD{
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        left: 70px;
    }
    #txtNT{
        position: relative;
        left: 500px;
    }
    #formNT{
        position: relative;
        left: 630px;
        top: -40px;
        width: 160px;
    }
    #textCI{
        position: relative;
        left: 500px;

    }
    #txtPrenom{
        position: relative;
        top: 0px;
        left: 530px;
    }
    #formPrenom{
        position: relative;
        left: 577px;
        top: 0px;
        width: 160px;
    }
    #txtNum{
        position: relative;
        top: 0px;
        left: 530px;
    }
    #formNum{
        position: relative;
        left: 574px;
        top: 0px;
        width: 160px;
    }
    #txtAdresse{
        position: relative;
        top: 0px;
        left: 530px;
    }
    #formAdresse{
        position: relative;
        left: 577px;
        top: 0px;
        width: 160px;
    }
    #txtCP{
        position: relative;
        top: 0px;
        left: 530px;
    }
    #formCP{
        position: relative;
        left: 548px;
        top: 0px;
        width: 160px;
    }
    #txtNom{
        position: relative;
        top: 0px;
        left: 530px;
    }
    #formNom{
        position: relative;
        left: 595px;
        top: 0px;
        width: 160px;
    }
    #txtVille{
        position: relative;
        top: 0px;
        left: 530px;
    }
    #formVille{
        position: relative;
        left: 600px;
        top: 0px;
        width: 160px;
    }
    #buttonSubmit{
        position: relative;
        top: 50px;
        left: 300px;
    }
