@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');
body{
    overflow-X: hidden;
}

@media (max-width:500px) {
    
    #logoAPF{
        position: relative;
        height: 150px;
        width: 150px;
        left: 170px;
    }
    #TitreLogo{
        position: relative;
        color: #966200;
        padding-top: 110px;
        margin-left: -10px;
        font-size: 5vmin;
    }
    .PageLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #accueilLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #StatistiquesLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    }
    #MembresLink{
        position: relative;
        text-decoration: none;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    
    }
    #SeconnecterLink{
        position: relative;
        text-decoration: underline #966200 solid;
        top: -150px;
        left: 17px;
        font-size: 20px;
        color: black;
    
    }
    #seConnecterTitre{
        position: absolute;
        font-weight: 100;
        margin-left: -470px;
        margin-top: -20px;
    }
    #txtMail{
        position: relative;
        margin-top: -0px;
        margin-left: -450px;
    }
    #txtNA{
        position: relative;
        top: 0px;
        margin-left: -410px;
    }
    #formMail{
        position: relative;
        margin-top: 0px;
        width: 160px;
        margin-left: -420px;
        
    }
    #txtMDP{
        position: relative;
        top: -20px;
        width: 160px;
        margin-left: -455px;
    }
    #formMDP{
        position: relative;
        top: -70px;
        width: 160px;
        margin-left: -420px;
    }
    #SinscrireLink{
        position: relative;
        top: 20px;
        padding-bottom: 30px;
        text-decoration: none;
        color: black;
        margin-left: -30px;
    }
    #SoumettreButton{
        position: relative;
        top: -1px;
        margin-left: -30px;
    }
    .RectMembres{
        position: relative;
        margin-left: -400px;
    }
}
#logoAPF{
    position: relative;
    height: 150px;
    width: 150px;

    
}
#MembresLink{
    text-decoration:  underline #966200 solid;
}
.PP{
    position: relative;
    height: 50px;
    width: 50px;
}
#TitreLogo {
    position: relative;
    left: 150px;
    top: -150px;
    font-size: 30px;
    font-weight: 100;
    
}
.text{
    font-family: 'Cagliostro',sans-serif;
}
.color{
    color: #966200;
}
.PageLink{
    position:relative;
    text-decoration: none;
    top: -230px;
    left: 800px;
    font-size: 20px;
    color: black;
    margin-left: 20px;
    }
 #SeconnecterLink{
       color: black;
    }
    #bienvenue{
        position: relative;
        font-weight: 100;
        left: 600px;
        top: -100px;
    }
    #titreMembres{
        position: relative;
        left:520px;
        top:-150px;
        font-size: 26px;
    }
    #txtMail{
        position: relative;
        left: 500px;
        font-size: 15px;
    }
    #txtNA{
        position: relative;
        left: 640px;
       
    }
    #formMail{
        position: relative;
        top: -40px;
        width: 160px;
        left: 630px;
        
    
    }
    #txtMDP{
        position: relative;
        left: 500px;
        top: -20px;

    }
    #formMDP{
        position: relative;
        left: 630px;
        top: -60px;
        width: 160px;
       
    }
    #SinscrireLink{
        position: relative;
        text-decoration: none;
        left: 250px;
        padding-bottom: 100px;
        color: black;
    }
    #SoumettreButton{
        position: relative;
        top: -1px;
        left: 560px;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        background-color: #966200;
        color: white;
    }
    .RectMembres{
        position: relative;
        background-color:white;
        top:-40px;
        width: 500px;
        left: 380px;
        margin-bottom: 12px;
        height: 120px;
        border:2px solid black;
        box-shadow: 0px 4px 20px 0px #9E9E9E;
        border-radius: 5px;
    }
    #textRectMembres{
        position: relative;
        left: 100px;
        font-size: 20px;
      
    }
    .hide{
        display: none;
    }
    #created_at{
        position: relative;
        top: -50px;
        left: 360px;
    }
    #DisconnectButton{
        position: relative;
        top: -250px;
        left: 1120px;
    }
    #pseudoConnected{
        position: relative;
        left: 1150px;
        width: 100px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        bottom: 285px;
        font-size: 20px;
    }

  